<nav>
		<li>
				<a href="/">Nyitó</a>
		</li>
		<li>
				<a href="/buyer" class=<%= active[0] ? "active" : "" %>>Vásárló</a>
		</li>
		<li>
				<a href="/buyers" class=<%= active[1] ? "active" : "" %>>Vásárlók</a>
		</li>
		<li>
				<a href="/category" class=<%= active[2] ? "active" : "" %>>Kategória</a>
		</li>
		<li>
				<a href="/categories" class=<%= active[3] ? "active" : "" %>>Kategóriák</a>
		</li>
		<li>
				<a href="/unit" class=<%= active[4] ? "active" : "" %>>Egység</a>
		</li>
		<li>
				<a href="/units" class=<%= active[5] ? "active" : "" %>>Egységek</a>
		</li>
		<li>
				<a href="/item" class=<%= active[6] ? "active" : "" %>>Árucikk</a>
		</li>
		<li>
				<a href="/items" class=<%= active[7] ? "active" : "" %>>Árucikkek</a>
		</li>
		<li>
				<a href="/buying" class=<%= active[8] ? "active" : "" %>>Vásárlás</a>
		</li>
</nav>