<nav>
		<li>
				<a href="/">Nyitó</a>
		</li>
		<li>
				<a href="/buyer" class=<%= active[0] ? "active" : "" %>>Vásárló módosítás</a>
		</li>
		<li>
				<a href="/category" class=<%= active[1] ? "active" : "" %>>Kategória módosítás</a>
		</li>
		<li>
				<a href="/unit" class=<%= active[2] ? "active" : "" %>>Egység módosítás</a>
		</li>
		<li>
				<a href="/item" class=<%= active[3] ? "active" : "" %>>Árucikk módosítás</a>
		</li>
		<li>
				<a href="/buying" class=<%= active[4] ? "active" : "" %>>Vásárlás módosítás</a>
		</li>
</nav>