<%- include('./layouts/header_2') %> 

<%- include('./layouts/nav') %>
        
        <table>
            <tr>
                <th>Vásárló neve</th>
                <th>Címe</th>
                <th>Admin</th>
                <th>Törlés</th>
                <th>Módosítás</th>
            </tr>
            <% buyers.forEach(buyer => { %>
            <tr>
                <td><%= buyer.nev %></td>
                <td>
                    <%= buyer.cim.varos %>, <%= buyer.cim.iranyitoszam %> <%=
                    buyer.cim.utca %> <%= buyer.cim.hazszam %>
                </td>
                <td><input type="checkbox" <%= buyer.isAdmin ? checked="checked" : "" %> /></td>
                <td><a href="/buyer/torol/<%= buyer._id %>">Töröl</a></td>
                <td><a href="/buyer/modosit/<%= buyer._id %>">Módosít</a></td>
            </tr>
            <% }) %>
        </table>
    </body>
</html>
