<%- include('./layouts/header_1') %> 

<%- include('./layouts/nav_edit') %>

		<form action="/buyer/modosit/<%= buyer._id %> " method="post" autocomplete="off">
            <table>
                <tr>
                    <td>
                        <label for="nev">Név:</label>
                    </td>
                    <td>
                        <input type="text" name="nev" id="nev" value="<%= buyer.nev %>" autofocus />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="varos">Város:</label>
                    </td>
                    <td>
                        <input type="text" name="varos" id="varos" value="<%= buyer.cim.varos %>" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="utca">Utca:</label>
                    </td>
                    <td>
                        <input type="text" name="utca" id="utca" value="<%= buyer.cim.utca %>" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="hazszam">Házszám:</label>
                    </td>
                    <td>
                        <input type="text" name="hazszam" id="hazszam" value="<%= buyer.cim.hazszam %>" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="iranyitoszam">Irányítószám:</label>
                    </td>
                    <td>
                        <input
                            type="text"
                            name="iranyitoszam"
                            id="iranyitoszam"
                            value="<%= buyer.cim.iranyitoszam %>"
                        />
                    </td>
                </tr>
                <tr>
                    <td>Admin-e:</td>
                    <td>
                        <input type="checkbox" name="admin" <%= buyer.isAdmin ? checked="checked" : ""  %> />
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit">Elküld</button>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>