<%- include('./layouts/header_2') %> 

<%- include('./layouts/nav') %> 

        <table>
            <tr>
                <th>Kategória neve</th>
                <th>Törlés</th>
                <th>Módosítás</th>
            </tr>
            <% categories.forEach(category => { %>
            <tr>
                <td><%= category.nev %></td>
                <td><a href="/category/torol/<%= category._id %>">Töröl</a></td>
                <td><a href="/category/modosit/<%= category._id %>">Módosít</a></td>
            </tr>
            <% }) %>
        </table>
    </body>
</html>
