<%- include('./layouts/header_2') %> 

<%- include('./layouts/nav') %>

        <table>
            <tr>
                <th>Termék neve</th>
                <th>Kategória</th>
                <th>Egység</th>
                <th>Egységár</th>
                <th>Törlés</th>
                <th>Módosítás</th>
            </tr>
            <% items.forEach(item => { %>
            <tr>
                <td><%= item.nev %></td>
                <td><%= item.kategoria %></td>
                <td><%= item.egyseg %></td>
                <td><%= item.ar %></td>
                <td><a href="/item/torol/<%= item._id %>">Töröl</a></td>
                <td><a href="/item/modosit/<%= item._id %>">Módosít</a></td>
            </tr>
            <% }) %>
        </table>
    </body>
</html>
